.table_head{
    font-size: 17px !important;
    color: #2b3543 !important;
    font-family: Lato !important;
    line-height: 30px !important;
    font-weight: 500 !important;
}


.table_data{
        color: #334155 !important;
        font-family: Lato !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        line-height: 30px !important;
}


